/*  Header Button Styles  */
.right-column button {
	height: 48px;
    color: white;
    font-size: 15px;
    background-color: #4d4d4d;
    border: none;
    border-radius: 2px;
    font-family: 'Roboto Mono', monospace;
}

.right-column > .header-btn i {
	color: #20b149;
}

.right-column > .search-btn {
    background-color: black;
}

.right-column > .search-btn i {
    color: #4d4d4d;
    font-size: 40px;
}
