/*  Main Section General Styles  */
.main-section {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
    height: 500px;
    width: 100%;
    background: rgb(29, 27, 23);
    background: linear-gradient(270deg, rgba(29, 27, 23, 1) 29%, rgba(43, 40, 46, 1) 48%, rgba(77, 77, 77, 1) 100%);
}

/*  Left Side Styles  */
.left-side {
    padding: 50px 10px 10px 50px;
	color: gray;
    font-size: 42px;
}

.left-side > .information b {
	font-size: 43px;
    color: white;
}

.left-side > .information p {
	font-size: 30px;
}

/*  Right Side Styles  */
.right-side {
	padding-top: 40px;
}

.right-side > .main-right-title {
	padding:  25px 0px 0px 10px;
    font-size: 20px;
}

.right-side > .main-right-title b {
	color: aqua;
}

.right-side img {
    height: 480px;
    width: 700px;
}
