/*  General Navigation Styles  */
.navigation {
    display: flex;
    justify-content: space-between;

}

.navigation > .nav-btn {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 24px;
}
